* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    background-color: rgb(84, 229, 255);
    /* Cor de fundo */
    color: white;
    /* Cor do texto */
    border-radius: 20px;
    /* Cantos arredondados */
    padding: 24px;
    /* Espaçamento interno */
    text-shadow: 15px 17px 5px rgb(0, 0, 0);
    /* Sombra do texto
    +direita/-esquerda: 15px;
    +baixo/-cima: 17px;
    blur: 5px; */


    width: fit-content;
    /* Largura ajustada ao conteúdo 
    */
    margin: auto;
    /* Largura ajustada ao conteúdo */

}

/* como estilizar de forma individual */
#outro_h1 {
    background-color: rgb(2, 192, 18);
    color: white;
}

h2 {
    background-color: darkblue;
    /* Cor de fundo */
    color: white;
    /* Cor do texto */
    padding: 20px;
    /* Espaçamento interno */
    text-align: center;
    /* Alinhamento do texto */
    border-radius: 20px;
    /* Cantos arredondados */
    text-shadow: 10px 10px 10px rgb(0, 238, 255);
    /* Sombra do texto */
}

p {
    color: pink;
    /* Cor do texto */
}

.blue {
    color: blue;
}