* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.bg{
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-attachment: fixed;
    color: rgb(255, 255, 255);
    padding: 120px;
}

.bg{
    background-image: url("../img/andreas-slotosch-XicbDY5V2ag-unsplash.jpg");
}

.banner1{
    background-image: url("../img/marek-piwnicki-jz3F2GhuJsY-unsplash.jpg");
}

.banner2{
    background-image: url("../img/marek-piwnicki-NwZmYW5ETnE-unsplash.jpg");
}

.banner3{
    background-image: url("../img/luke-miller-jvtLMUVEOgc-unsplash.jpg");
}

